<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
        <h1><%= kindOfday %></h1> 
        <ul>
            <% if (NewListItems.length >= 0 ){ %>
               <% for (var i=0; i<=NewListItems.length; i++ ){ %>
                    <li> <%= NewListItems[i] %> </li>
                <% } %>  
            <% } else { %>
                 <p>Add a new to do</p>
             <% } %>
        </ul>

        <form class= "" action="/" method="post">
           <label for="todo">New Todo:</label>
           <input type="text" name="newItem" required>
           <button type="submit">Add</button> 
        </form>

</body>
</html>
